body {
  background-color: #f9f7fe;
  background-size: cover;
  font-family: "Playfair Display", serif;
}
.weatherapp {
  background: linear-gradient(
    109.6deg,
    rgb(177, 173, 219) 11.2%,
    rgb(245, 226, 226) 91.1%
  );
  max-width: 700px;
  margin: 50px auto;
  padding: 45px;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid #b1addb;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 10px;
  padding: 20px 25px;
  width: 45%;
  font-size: 15px;
}
.search-form-button {
  background-color: #b1addb;
  color: #f5e2e2;
  border: none;
  border-radius: 10px;
  padding: 20px 25px;
  font-size: 15px;
}
a {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  font-weight: 400;
}
footer {
  border-top: 1px solid #b1addb;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6);
}
